@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111827;
  }

  /* 2. Dark mode variables */
  .dark {
    --background: #030712;
    --foreground: #f9fafb;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased transition-colors duration-300;
  }
}